defaults: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: bookkeeper
  password: bookkeeper

development:
  <<: *default
  database: bookkeeping_dev

test:
  <<: *default
  database: bookkeeping_test

production:
  <<: *default
  database: bookkeeping_production
